@font-face {
font-family: alef;
src: url('Alef-regular.ttf');
}

@font-face {
font-family: alef;
src: url('Alef-bold.ttf');
font-weight: bold;
}

@font-face {
font-family: bebas;
src: url('bebas.ttf');
}

* {
margin: 0px auto; 
padding: 0px;
font-family: Myriad Pro; font-weight: normal;
}

body {
font-size: 100%;
background: url('bgptrn.png') repeat;
background-size: 100%;
}


header, section, footer, aside, nav, article, figure { 
display: block; 
font-weight: ;
}

em {
font-family: bebas;
font-style: normal;
font-size: 2em;
display: block;
background: -webkit-linear-gradient(#2877cb, #153f77);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

b {
font-family: bebas;
font-weight: normal;
color: #494949;
font-size: 1.2em;
text-shadow: rgba(255, 255, 255, .5) 1px 1px 0;
}

#bbg {
background: rgba(0, 0, 0, 0.7);
height: 100%;
width: 100%;
position: fixed;
z-index: 10;
display: none;
}

#bbg img {
width: 800px;
display: block;
margin: 150px auto;
-webkit-box-shadow: 2px 2px 15px black;
-moz-box-shadow: 2px 2px 15px black;
box-shadow: 2px 2px 15px black;
}

#container {
width: 960px;
margin: 0 auto;
padding: 0;
}

header {
height: 165px;
width: inherit;
}

#logo {
width: 222px;
height: 73px;
float: left;
margin-top: 25px;
}

#sign {
width: 300px;
height: 70px;
float: right;
margin-top: 25px;
}

#sign button {
background: #3e779d;
background: -webkit-gradient(linear, left top, left bottom, from(#49a1f0), to(#367bbb));
background: -moz-linear-gradient(top,  #49a1f0,  #367bbb);

-webkit-box-shadow: inset #56aefb 0 1px 0;
-moz-box-shadow: inset #56aefb 0 1px 0;
box-shadow: inset #56aefb 0 1px 0;

border: 1px solid #2a659d;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

padding: 5px 10px;
text-shadow: rgba(0,0,0,.4) 1px 1px 3px;
color: white;
font-size: 0.9em;
text-decoration: none; 
vertical-align: middle;
font-weight: normal;
margin: 5px;
width: 70px;
}

#sign button:active, #sign button.pressed {
background: #3e779d;
background: -webkit-gradient(linear, left bottom, left top, from(#49a1f0), to(#367bbb));
background: -moz-linear-gradient(bottom,  #49a1f0,  #367bbb);
outline: none;
-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
}

button#register {
background: #dc7844;
background: -webkit-gradient(linear, left top, left bottom, from(#f6d275), to(#dc7844));
background: -moz-linear-gradient(top,  #f6d275,  #dc7844);
border: 1px solid #bf5114;
-webkit-box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 0;
-moz-box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 0;
box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 0;
}

button#register:active, button#register.pressed {
background: #dc7844;
background: -webkit-gradient(linear, left top, left bottom, from(#dc7844), to(#f6d275));
background: -moz-linear-gradient(top,  #dc7844,  #f6d275);
-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
}

#sign input {
padding: 5px 10px;
font-size: 0.9em;
border: 1px solid #e5e5e8;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
padding-left: 38px;
margin: 5px;
}

#username {
background: white url('user.png') no-repeat left;
}

#password  {
background: white url('pass.png') no-repeat left;
}

nav {
width: 960px;
height: 48px;
background: url('navbg.png') no-repeat;
position: absolute;
top: 117px;
}

#home {
width: 72px;
height: 48px;
display: block;
margin: 0;
padding: 0;
background: url('home.png');
}

section {

background: white;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CCCCCC), color-stop(.7,#CCCCCC),color-stop(.6,#B2B2B2));

-webkit-border-radius: 0 0 10px 10px;
-moz-border-radius: 0 0 10px 10px;
border-radius: 0 0 10px 10px;

-webkit-box-shadow:0 0 5px white inset, 0 15px 15px white inset, 0 0 15px rgba(0, 0, 0, 1) inset;
-moz-box-shadow:0 0 5px white inset, 0 15px 15px white inset, 0 0 15px rgba(0, 0, 0, 1) inset;
box-shadow:0 0 5px white inset, 0 15px 15px white inset, 0 0 15px rgba(0, 0, 0, 1) inset, 0 3px 0 white, 0 0 15px black;
}

section {
height: 970px;
padding-top: 30px ;
margin-bottom: 20px;
}

.cell {
background: white;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CCCCCC), color-stop(.7,#CCCCCC),color-stop(.6,#B2B2B2));
height: 60px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 3px 0 white;
-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 3px 0 white;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 3px 0 white;
}

#signup {
width: 350px;
float: left;
}

#signup .cell {
width: 380px;
height: 70px;
float: left;
position: relative;
left: -30px;
margin-bottom: 10px;
padding: 10px 0;
}

#signupBg {
height: 90px;
background: url('ptrn.png');
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 380px;
position: relative;
float: left;

top: -10px;
opacity: 0.05;
}

.hcontainer {
position: absolute;
margin: 0 55px;
width: 290px;
}

#signup button {
margin-top: 15px;
padding-top: 10px;
height: 70px;
width: 300px;
left: -10px;
border-radius: 20px;
border: none;
color: white;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
font-size: 2em;

-webkit-box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.3);
-moz-box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.3);
box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.3);

background: #2467af;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a9e1fd), to(#2467af));

position: relative;
left: -20px;
}

#signup button:active, #signup button.pressed {
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2363A8), to(#2467af));
outline: none;
-webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.3);
box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.3);
}

#signup input {
width: 240px;
margin: 10px 10px 10px 0;
padding: 15px 25px 10px 25px;
font-size: 1em;

border: 1px solid #999;
border-left: 0;
-webkit-border-radius: 0 50% 50% 0;
-moz-border-radius: 0 50% 50% 0;
border-radius: 0 20px 20px 0;

background: #e0e0e0;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E0E0E0), to(#B5B5B5));
}

#signup ::-webkit-input-placeholder { /* WebKit browsers */
color: #727272!important;
text-shadow: rgba(255, 255, 255, .5) 1px 1px 0!important;
}
#signup :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #727272!important;
text-shadow: rgba(255, 255, 255, .5) 1px 1px 0!important;
}
#signup ::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #727272!important;
text-shadow: rgba(255, 255, 255, .5) 1px 1px 0!important;
}
#signup :-ms-input-placeholder { /* Internet Explorer 10+ */
color: #727272!important;
text-shadow: rgba(255, 255, 255, .5) 1px 1px 0!important;
}

#signup input:focus {
outline: none;
}

article#details {
float: right;
width: 600px;
margin-top: 5px;
}

article#details header.cell {
height: 80px;
position: relative;
left: 30px;
}

article#details header.cell .hcontainer {
width: 600px;
padding: 5px 20px;
margin: 0;
}

article#details header.cell #signupBg{
height: 80px;
width: 600px;
top: 0;
}

article#details em, aside#photos em {
background: -webkit-linear-gradient(#30acdf, #195aac);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

div#tbox {
padding: 20px 30px;
}

aside#photos {
float: right;
width: 960px;
margin-top: 30px;
}

aside#photos header {
width: 1000px;
position: relative;
left: -20px;
height: 70px;
}

aside#photos header.cell .hcontainer {
width: inherit;
padding: 13px 50px;
margin: 0;
}

div.photo {
width: 215px;
height: 165px;
margin: 30px 0 0 20px;
float: left;
}

div.photo img {
width: inherit;
height: inherit;
}

div.photo div.black {
position: absolute;
z-index: 5;
background: rgba(0, 0, 0, 0.5);
width: inherit;
height: inherit;
transition: background 0.2s;
}

div.photo div.black:hover {
background: none;
}

div.photo div.black img {
height: 36px;
width: 36px;
margin: 65px 90px;
}

footer {
margin-top: 40px;
width: 100%;
height: 200px;

background: black;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0F0F0F), to(#050505), color-stop(.6,#171717));

-webkit-border-radius: 10px 10px 0 0;
-moz-border-radius: 10px 10px 0 0;
border-radius: 10px 10px 0 0;

-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 -3px 0 rgba(255, 255, 255, 0.2) inset;
-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 -3px 0 rgba(255, 255, 255, 0.2) inset;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 -3px 0 rgba(255, 255, 255, 0.2) inset;
}

/* clearfix */
  
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

@media screen and (max-width: 480px) {

}